---
import { Image } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
import DraftBadge from "../components/DraftBadge.astro";

const { post } = Astro.props;
const { heroImage, title, pubDate, time, draft } = post.data;
const isDev = import.meta.env.DEV;
---

<a class="card media-element" href={`/blog/${post.id}/`}>
  <div class="card__thumbnail">
    <Image width={900} height={360} src={heroImage.src} alt={heroImage.alt} />
    {isDev && draft && <DraftBadge variant="overlay" />}
  </div>
  <h2 class="card__title">{title}</h2>
  <div class="card__info">
    <date class="card__date">
      <FormattedDate date={pubDate} />
    </date>
    {time && <span class="card__time">{time}min to read</span>}
  </div>
</a>

<style>
  .card {
    display: block;
    text-decoration: none;
  }

  .card__thumbnail {
    position: relative;
  }

  .card__title {
    margin-block-start: var(--space-s);
    text-wrap: balance;
  }

  .card__info {
    margin: var(--space-3xs);
    font-size: var(--step--1);
  }

  .card__date {
    color: var(--color--dark-gray);
  }

  .card__time {
    position: relative;
    margin-inline-start: var(--space-xs);
    color: var(--color--dark-gray);

    &::before {
      content: "•";
      position: absolute;
      left: -12px;
    }
  }
</style>
