---
import { type CollectionEntry, getCollection } from 'astro:content';
import { Image } from "astro:assets";

import Layout from '../layouts/Layout.astro';
import ArticleMetas from '../components/ArticleMetas.astro';
import AllTags from '../components/AllTags.astro';
import TagsCloud from '../components/TagsCloud.astro';
import LatestPosts from '../components/LatestPosts.astro';
import DraftBadge from '../components/DraftBadge.astro';

type Props = CollectionEntry<'blog'>['data'];

const {
	tags,
	title,
	description,
	intro,
	author,
	pubDate,
	updatedDate,
	heroImage,
	draft
} = Astro.props;

const isDev = import.meta.env.DEV;

// Fetch all posts to extract tags
const allPosts = await getCollection('blog');
const currentPost = allPosts.find(post => post.data.title === title);
const latestPosts = allPosts.slice(0, 6);
const allTags = allPosts.flatMap((post) => post.data.tags || []); // Flatten all tags into a single array
---

<Layout title={title} description={description} image={heroImage.src ? heroImage.src : ''}>
	<article class="content-flow entry-content">
		<h1>{title}</h1>
		{isDev && draft && <div><DraftBadge /></div>}
		<p class="intro">{intro}</p>
		<TagsCloud {tags} />
		<ArticleMetas 
			author={author} 
			pubDate={pubDate} 
			updatedDate={updatedDate}
		/>
		<figure 
			class="media-element has-medium-flow-space is-medium-width-content"
		>
			{ heroImage && 
				<Image
					class="hero-image"
					src={heroImage.src ? heroImage.src : ''}
					alt={heroImage.alt ? heroImage.alt : ''}
					widths={[320, 640, 1020]}
					width=1020
					height=510
					loading={'eager'}
				/>
			}
			{ heroImage?.caption && 
				<figcaption class="media-element__caption">
					{heroImage.caption}
				</figcaption>
			}
		</figure>
		
		<slot />
	</article>
	<aside class="wrapper">
		<LatestPosts posts={latestPosts} currentPost={currentPost} />
		<AllTags tags={allTags} />
	</aside>
</Layout>